body {
	background-color: lightpink;
	color: black;
	font-family: serif;
	font-size: 20px;
}

h1 {
	color: snow;
    font-family: cursive;
    font-weight: 50px;
    letter-spacing: 5px;
    font-size: 60px;
}

h2{
	color: orchid;
	font-weight: bolder;
	font-size: 30px;
}

a{
	text-decoration: none;
	color:black;
}
a:hover{
	color:lavenderblush;
}

#image {
	border-radius:50%; 
	box-shadow: 10px 20px 500px rgb(255 218 231);
}

.container {
	width: 1000px;
    margin: 100px auto;
}
@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}
@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: lightpink;
    padding: 20px;
    box-shadow: 10px 20px 500px rgb(255 218 231);
    border-radius: 10px;
    margin: 30px;
    text-align: center;
}
.btn-blue {
	background-color: orchid;
	color: lavenderblush;
	padding: 10px 10px;
	border-radius: 10px;
}
.btn-blue:hover {
	background-color: black;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
#introduction p {
	margin-bottom: 20px;
}